<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Canon.Data.Properties.Settings.CanonConsolidatedReportsConnectionString"
            connectionString="Data Source=dev3;Initial Catalog=CanonConsolidatedReports;Persist Security Info=True;User ID=sa;Password=Memos123"
            providerName="System.Data.SqlClient" />
        <add name="Canon.Data.Properties.Settings.CanonConsolidatedReportsConnectionString1"
            connectionString="Data Source=dev3\;Initial Catalog=CanonConsolidatedReports;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Canon.Data.Properties.Settings.CanonConsolidatedReportsConnectionString2"
            connectionString="Data Source=dev3\;Initial Catalog=CanonConsolidatedReports;Persist Security Info=True;User ID=sa;Password=Memos123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>